MQL5/Images/dollar.bmp
MQL5/Images/euro.bmp
MQL5/Include/Arrays/
MQL5/Include/Canvas/
MQL5/Include/ChartObjects/
MQL5/Include/Charts/
MQL5/Include/Controls/
MQL5/Include/Expert/
MQL5/Include/Expert/Money/
MQL5/Include/Expert/Signal/
MQL5/Include/Expert/Trailing/
MQL5/Include/Files/
MQL5/Include/Generic/
MQL5/Include/Graphics/
MQL5/Include/Indicators/
MQL5/Include/Math/
MQL5/Include/MovingAverages.mqh
MQL5/Include/Object.mqh
MQL5/Include/OpenCL/
MQL5/Include/StdLibErr.mqh
MQL5/Include/Strings/
MQL5/Include/Tools/
MQL5/Include/Trade/
MQL5/Include/VirtualKeys.mqh
MQL5/Include/WinAPI/
MQL5/Indicators/Examples/
MQL5/Scripts/Examples/
MQL5/Scripts/UnitTests/
MQL5/experts.dat
bases/
config/
logs/
origin.txt
profiles/
